<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="assets/styles.css" type="text/css">
</head>
<body>
    <div class="wrapper">
        <% include partials/nav.ejs %>
        <h1>Welcome to the profile of <%= person %></h1>
        <p>
            <strong>Age: <%= data.age %></strong>
            <strong>Age: <%= data.job %></strong>
        </p>
        <h2>Hobbies</h2>
        <ul>
            <% data.hobbies.forEach(function(item){ %>
                <li><%= item %></li>
            <% }); %>
        </ul>
    </div>
</body>
</html>
